* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.common{
    padding: 10px;
}

p{
    background-color: gray;
}

#beef{
    background-color: red;
}

#chicken{
    background-color: pink;
}

#sushi{
    background-color: purple;
}

div.card{
    border: solid 1px black;
    text-align: center;
    float: right;
    width: 100px;
    margin: 0 0 5px 5px;
}

.content{
    background-color: gray;
    border: solid black 1px;
    padding: 10px;
}

div.common{
    position: relative;
    clear: both;
}

@media screen and (min-width: 992px) {
    .lg-4 {
        width: 33.33333333333333333333333333333333333333333333333333333333333333333333%;
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .md-6{
        width: 50%;
        float: left;
    }

    .md-12{
        width: 100%;
        float: left;
    }
}

@media (max-width: 767px){
    .sm-12{
        width: 100%;
        float: left;
    }
}